@import "tailwindcss";

@theme {
  --color-primary-900: #333446;
  --color-primary-600: #7F8CAA;
  --color-primary-300: #B8CFCE;
  --color-primary-200: #B8CFCE;
  --color-primary-100: #EAEFEF;
  
  /* Alias simples para fácil uso */
  --color-dark: #333446;
  --color-medium: #7F8CAA;
  --color-accent: #B8CFCE;
  --color-light: #EAEFEF;
}
